$new-color: rgb(80, 121, 72);

@mixin flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-textcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}