/* GENERALES Y REUTILIZABLES*/
* {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

html {
    font-family: contralto-small;
    font-weight: 200;
    font-size: 62.5%;
    color: #464646;
}

h1 {
    font-size: 5rem;
}

h2,
h3,
h4 {
    font-size: 2rem;
}


img {
    max-width: 100%;
}

iframe{
    max-width: 100%;
}

a{
    text-decoration: none;
}

.text-center {
    text-align: center;
}

label{
    font-size: 3rem;
}

input{
    width: 40rem;
    height: 3rem;
    background-color: #eeeeee;
    border-style: none;
    border-bottom: solid 1px black;
}

.cards {
    margin: 2rem 0;
    align-self: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    max-width: 100%;
    &:hover{
        transform: scale(1.1);
        color: #521414;
    }
}



